<div class="container">
    <div class="col-8 offset-2">

      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">{{msg}}</h1>
          <p class="lead">To the PC Gaming News Scraper!</p>
        </div>
      </div>
      <h3>PC Gamer Articles:</h3>
      {{#each examples}}
      <div class="card">
        <div class="card-header">
          <headline data-id="{{this._id}}">
            <strong>{{this.headline}}</strong>
          </headline>
          <note id="notes{{this._id}}"></note>
        </div>
        <div class="card-body">
          <blockquote class="mb-0">
            <a href="{{this.link}}">
              <p>{{this.summary}}</p>
            </a>
          </blockquote>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>

<script>

  $(document).ready(function() {
  $.get("/scrape", function(data) {
    console.log("Article list updated");
  })
  })

  $("headline").on("click", function() {
    let thisId = $(this).attr("data-id");
    let thisNote = "#notes"+thisId;

    $(thisNote).empty();

    $.get("/article/"+thisId).then(function(data) {
      let noteForm = '<div class="form-group">';
        noteForm += '<label>Note Title:</label>';
        noteForm += '<input class="form-control" id ="title'+thisId+'" type="text">';
        noteForm += '<label>Note:</label>';
        noteForm += '<textarea class="form-control note-content" id="body'+thisId+'"></textarea>';
        noteForm += '<button type="button" class="btn btn-primary modal-button save-note" data-id="'+thisId+'">Save Note</button>';
        noteForm += '<button type="button" class="btn btn-danger close-button">Close Comment</button>';
      $(thisNote).append(noteForm);

      if (data.note) {
        let titleField = "#title"+thisId;
        let bodyField = "#body"+thisId;
        $(titleField).val(data.note.title);
        $(bodyField).val(data.note.body);
      };
    });
  })

  $(document).on("click", ".save-note", function() {

    let noteId = $(this).attr("data-id");
    
    let commentSection = $(this).parent("div");
    
    let URL = "/postnote/"+noteId;
    $.ajax({
      method: "POST",
      url: URL,
      data: {
        title: $("#title"+noteId).val(),
        body: $("#body"+noteId).val()
      }
    }).then(function(data) {
      commentSection.remove();
    });
  });

  $(document).on("click", ".close-button", function() {
    $(this).parent("div").remove();
  })
</script>
